<body>
    <br>
    <div>
        <h1>About</h1>
        <p>Bruce Wayne, a visionary, philanthropist, and astute businessman,
            has transformed Gotham City through his unparalleled dedication and ingenuity.
            As CEO of Wayne Enterprises, he has driven groundbreaking advancements in
            technology and infrastructure, while his charitable actions have uplifted countless lives.
        </p>
        <br>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>Technological Expertise</mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>Advanced Computer Systems</li>
                <li>Cybersecurity and Cryptography</li>
                <li>Advanced Weaponry Systems</li>
                <li>Crime Scene Analysis</li>
                <li>Medical Technology</li>
                <li>Vehicle Design</li>
            </ul>
        </mat-expansion-panel>
    </div>
</body>