<body>
    <br>
    <div>
        <h1>Bruce Wayne</h1>
        <img matTooltip="Built for success." [matTooltipPosition]="position.value!" [src]="'assets/bruce.jpeg'"
            alt="Bruce">
        <h2>"It's not who I am underneath, but what I do that defines me."
            <br>
            <br>
            By day, Bruce is a visionary philanthropist. By night, the enigmatic figure behind Gotham City's most
            formidable protector, Batman.
        </h2>
        <br>
        <br>
    </div>
</body>