/* nav {
    background-color: rgb(76, 84, 226);
    text-align: center;
    height: 50px;
}
button {
    background-color: rgb(76, 84, 226);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 8px;
    padding: 10px;
    font-size: medium;
    color: aliceblue;
    border: none;
} */