html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* The global body selector no longer works after inserting the router-link into the navigation-page's [insert-content-here] section */
/* body {
    background-color: rgba(0, 0, 0, 0.614);
} */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}