.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 110px;
  background-color: rgb(201, 201, 215);
}

.home {
  color: aliceblue;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(76, 84, 226);
}